#div-footer {
  margin-top: 30px;
}

footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 30px;
}

.insta {
  display: inline-block;
  text-align: center;
}

.insta img {
  height: 200px;
}

footer figure {
  display: inline-block;
  background: linear-gradient(
    45deg,
    rgba(255, 255, 0, 0.6),
    rgba(255, 166, 0, 0.6),
    rgba(255, 0, 0, 0.5),
    rgba(243, 70, 99, 0.6),
    rgba(128, 0, 128, 0.6)
  );
  padding: 20px;
  border-radius: 30px;
}

@media (max-width: 780px) {
  .insta img {
    width: 200px;
  }
}
