header {
  display: flex;
  justify-content: space-around;
}

.intro {
  display: inline-block;
  text-align: center;
}

.intro h1 {
  color: darkslategray;
  font-family: 'Courier New', Courier, monospace;
}

.intro p {
  color: rgb(25, 36, 6);
}

.intro strong {
  color: rgb(0, 70, 0);
}

.external-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 30%;
  border-radius: 150px 75px;
}

.external-links .external-link {
  font-size: x-large;
  padding: 0 10px;
}

#trybe_logo {
  height: 150px;
  border-radius: 20px;
  margin: 10px;
}
