.main {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    text-align: justify;
}

.main .about {
    width: 50%;
}

.logo {
    width: 30px;
}

#contact-list {
    list-style-type:none
}

em, li {
    padding-right: 10px;
}