.main {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  text-align: justify;
}

.main .about {
  width: 50%;
}

.logo {
  width: 30px;
}

.margin-top {
  margin-top: 10px;
}

.size_large {
  font-size: large;
}

.size_larger {
  font-size: larger;
}


#contact-list {
  list-style-type: none;
}

em,
li {
  padding-right: 10px;
}

@media (max-width: 780px) {

  

  #about, #habilities, #contact {
    width: 95%;
  }
}