#to-top {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#up-arrow {
  width: 50px;
  border-radius: 50%;
  opacity: 50%;
}

#figure-to-top {
  padding: 20px;
  border-radius: 30px;
}
